.App {
  font-family: sans-serif;
  text-align: center;
  color: #000;
}
.App::-webkit-scrollbar{
  display: none;
}
.searchCont {
  margin-left: auto;
}
.navbar {
  width: 100% !important;
  height: 100%;
  padding-bottom: 0.9rem;
  border-bottom: 2px solid #000;
}
.form-inline {
  margin-top: 4%;
  margin-left: 80%;
  margin-bottom: 0.1rem;
}
.form-control {
  border-color: #000;
}
.navbar-brand {
  width: 18%;
  font-size: 3.6rem;
  line-height: 3.8rem;
  margin-bottom: 0.4rem;
}
.genreCards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.genreCards::-webkit-scrollbar{
  display: none;
}
.movieCard {
  display: flex;
  flex-direction: column;
  margin: 1% 0.6%;
}
.movieCard:hover  .movieCard {
  transform: translateX(25%);
}
.genreheader {
  font-size: 1.4em !important;
  font-weight: 600;
  margin-left: 0.9rem;
  margin-right: auto;
  text-align: left;
}
